@font-face {
  font-family: 'zen';
  src: url(/react-portfolio-final/public/fonts/ZenKurenaido-Regular.ttf);
}

body {
  margin: 0;
  font-family: 'zen';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'zen';
}
